.qmake.stash
.vscode
build
Latex/*.pdf
Latex/*.log
Latex/*.gz
Latex/*.aux
Latex/*.idx
Latex/*.toc
Latex/*.lof
Latex/*.lot
Latex/*.TOC
Doxygen/latex/*.ps 
Doxygen/latex/*.dvi 
Doxygen/latex/*.aux 
Doxygen/latex/*.toc 
Doxygen/latex/*.idx 
Doxygen/latex/*.ind 
Doxygen/latex/*.ilg 
Doxygen/latex/*.log 
Doxygen/latex/*.out 
Doxygen/latex/*.brf 
Doxygen/latex/*.blg 
Doxygen/latex/*.bbl 
Doxygen/latex/refman.pdf
obj
Makefile
merge-v1.0-alpha_plugin_import.cpp
